@import '/src/style/fonts/fa/all.css';

#controls {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

#controls a {
    display: inline-block;
    margin: 0px 5px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFF;
    background: #0081ff;
    border: rgb(255,255,255,.2) solid 1px;
    border-radius: 2px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.1s;
}
#controls a:hover {
    opacity: 0.8;
}