@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('./src/fa.css');

body {
    --header-background: #FFF;
    --header-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    --border-color: rgb(0, 0, 0, .2);
    --text-color: #343434;
    --secondary-color: dodgerblue;
    --scrollbar-thumb-color: rgb(32, 148, 252, 0.3);
    --scrollbar-track-color: rgb(32, 148, 252, 0.1);
    --width: 80%;
    background: #FFF; 
    font-family: Roboto;
    color: var(--text-color);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('./material.woff2') format('woff2');
}

* {
    box-sizing: border-box;
    scrollbar-width:thin;
    scrollbar-color:var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color)
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}


body[data-appearance="ocean"] {
    --border-color: rgb(255, 255, 255, .2);
    --text-color: #FFF;
    --header-background: #282d3f;
    --secondary-color: mediumseagreen;
    --scrollbar-thumb-color: rgb(52, 184, 116, 0.3);
    --scrollbar-track-color: rgb(52, 184, 116, 0.1);
    background: #161923
}

body[data-appearance="midnight"] {
    --border-color:rgb(255, 255, 255, .2);
    --header-background: #181818;
    --text-color: #FFF;
    --secondary-color: dodgerblue;
    background: #121212;
}

header {
    background: var(--header-background);
    /*border-bottom: 1px solid var(--border-color);*/
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    font-family: Noto Sans JP;
}

h1 {
    font-size: 30px;
}

nav {
    display: flex;
    margin: 0 auto;
    width: var(--width);
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

nav section:first-child *:first-child {
    margin-left: 0;
}

nav section:last-child *:last-child {
    margin-right: 0;
}

a {
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav a, footer nav span {
    font-size: 14px;
    color: var(--text-color);
}

.button {
    padding: 15px 18px;
    display: inline-block;
    cursor: pointer;
    margin: 5px 6px;
    color: #FFF;
    text-decoration: none;
    border-radius: 3px;
    background: #242424;
    border: solid 1px #282828;
    font-family: "Roboto";
}

.button[data-style="secondary"] {
    background: transparent;
    border: solid 1px var(--secondary-color);
    color: var(--secondary-color);
}

.quick-button {
    padding: 14px 18px;
    display: inline-block;
    cursor: pointer;
    margin: 5px 6px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px;
    background: none;
    border: 1px solid var(--border-color);
    font-family: "Roboto";
}

.quick-button i {
    margin-right: 3px;
}

.nav-logo {
    width: 35px;
    height: 35px;
}

.home-logo {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.home-logo img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.home-logo .text {
    height: 75px;
    display: inline-block;
    font-size: 60px;
    color: white;
}

.banner {
    background: url(./pattern.png) repeat;
    background-size: 54px;
    width: var(--width);
    padding: 60px calc(50% - calc(var(--width) / 2));
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    box-sizing: content-box;
}

.faq {
    display: grid;
    margin: 15px auto;
    width: var(--width);
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.faq section {
    width: 595px;
    margin: 8px 0px;
}

.settings {
    display: flex;
    margin: 15px auto 0px auto;
    width: var(--width);
    flex-direction: column;
}

.content {
    margin: 15px auto;
    width: var(--width);
}

.thumbnails {
    margin: 15px auto;
    width: var(--width);
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.gs-search {
    width: 305px;
}

.horizontal-border {
    width: 100%;
    height: 1px;
    display: block;
    background: var(--border-color);
    margin: 10px 0px;
}

.options {
    width: 600px;
    /* TODO: only set max height if there is an overflow (This is hard to do without js) */
    padding-left: 0;
    list-style-type: none;
    overflow-y: auto;
}

/*
.options li {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}
*/

/* Experiment */
.options li {
    padding: 14px 18px;
    display: inline-block;
    cursor: pointer;
    margin: 5px 6px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    border-radius: 30px;
    background: none;
    border: 1px solid var(--border-color);
    font-family: "Roboto";
}

.options li i {
    margin-right: 3px;
}

.options li:hover, .options li[data-selected] {
    color: var(--secondary-color);
}

/*
.options li:last-child {
    border-bottom: none;
}
*/

input {
    background: none;
    font-family: "Roboto";
    padding: 0px 10px;
    height: 47.5px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
}

.frame {
    width: 100%;
    height: calc(100vh - 160px);
    display: none;
}

.frame iframe {
    width: 100%;
    height: 100%;
    background: white;
    border: none;
}

.frame[data-service="web"] {
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.frame .controls {
    right: 10%;
    margin-top: 25px;
    position: absolute;
}

.frame .controls button {
    width: 40px;
    height: 40px;
    margin: 0px 5px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    color: var(--secondary-color);
    background: var(--header-background);
    padding: 0;
}

.thumbnail {
    display: inline-block;
    width: 225px;
    height: 305px;
    border-radius: 5px;
    margin: 0 10px 20px 0;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    border: 1px solid var(--border-color);
    background: var(--header-background);
}

.thumbnail img {
    width: 100%;
    height: 255px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--border-color);
}

.thumbnail .title {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 12px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gs-empty {
    display: none;
}

body[data-page="home"] form input {
    width: 500px;
}

body[data-page="settings"] .tab input {
    width: 450px;
}

.tip {
    padding: 20px 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 70%;
    border-radius: 5px;
    text-align: center;
    background: var(--header-background);
    border: 1px solid var(--border-color);
    bottom: 80px;
}

@media only screen and (max-width: 1535px) {
    .faq section {
        width: 90%;
    }
    body[data-page=home] form input {
        width: calc(45% - 70px);
    }
}

@media only screen and (max-width: 545px) {
    .home-logo img {
        width: 55px;
        height: 55px;
    }
    .home-logo .text {
        height: 55px;
        font-size: 45px;
    }
    .gs-search {
        width: 100%;
    }
    .faq h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 710px) {
    body[data-page=settings] .tab input {
        width: calc(100% - 155px)
    }
    .options {
        width: 90%
    }
    .options li {
        display: block;
    }
    .quick-button {
        display: block;
    }
}

@media only screen and (max-width: 890px) {
    .faq {
        grid-template-columns: auto;
    }
    body[data-page=home] form input {
        width: calc(100% - 70px);
    }
}